:root {
  --first-color: #ff057c;
  --second-color: #7c64d5;
  --third-color: #4cc3ff;
  --head-font-type: "Josefin Sans", sans-serif;
  --normal-font-type: "Comfortaa", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "My Soul", cursive;
  font-family: "Quicksand", sans-serif;
  font-family: "Comfortaa", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "My Soul", cursive;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  background-color: #010718;
  margin: 1.5% 1.5%;
  border-radius: 1.3rem;
}
.container .home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .home-header .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  background-image: linear-gradient(
    45deg,
    var(--third-color),
    var(--first-color)
  );
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 1.5rem;
}
.container .home-header .header-logo .header-logo__border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.875rem;
  height: 2.625rem;
  background-color: #010718;
  border-radius: 1.5rem;
}
.container .home-header .header-logo .header-logo__border .header-logo__text {
  color: white;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  font-family: "Comfortaa", cursive;
}
.container .home-header .home_navbar-category .navbar-category-items a {
  font-size: large;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0 s;
}
.container .home-header .home_navbar-category .navbar-category-items a:hover {
  color: #4cc3ff;
}
.container .home-header .home_navbar-category {
  list-style: none;
}
.container .home-header .home_navbar-category .navbar-category-items {
  display: inline-block;
  padding: 0% 1rem;
}
.container .home-header .header-search {
  margin-right: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 0 0 3px white;
  overflow: hidden;
}
.container .home-header .header-search.active {
  width: 300px;
}
.container .home-header .header-search .header-search__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.container .home-header .header-search .header-search__icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--third-color);
  border-radius: 50%;
  transform: translate(-4px, -4px);
}
.container .home-header .header-search .header-search__icon::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 9px;
  background-color: var(--third-color);
  transform: translate(6px, 6px) rotate(315deg);
}
.container .home-header .header-search .header-search__input {
  position: relative;
  width: 300px;
  height: 50px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .home-header .header-search .header-search__input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "Lobster", cursive;
}
.container .home-header .header-search .clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .home-header .header-search .clear::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #03f6fa;
  transform: rotate(45deg);
}
.container .home-header .header-search .clear::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #03f6fa;
  transform: rotate(315deg);
}

main {
  margin: 0 auto 0 auto;
  width: 95%;
  height: 100%;
}
main .container {
  background-color: white;
}
main .container .row {
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: row;
}
main .container .text-content {
  width: 30%;
  background-color: #ff057c;
}
main .container .animation-content {
  width: 70%;
  height: 100%;
  background-color: #03f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .animation-content .user-icon {
  position: absolute;
  z-index: 2;
  top: 29%;
  left: 36%;
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
  border: 5px solid #010718;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.container .animation-content .user-icon .user-icon--head {
  margin-top: 0.3rem;
  width: 35%;
  height: 35%;
  border-radius: 60%;
  background-color: #010718;
}
.container .animation-content .user-icon .user-icon--body {
  width: 80%;
  height: 65%;
  border-radius: 50px 50px 0 0;
  background-color: #010718;
}
.container .animation-content .content-icon {
  position: absolute;
  z-index: 1;
  top: 36%;
  left: 38%;
  width: 25vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
  background-color: #f590c1;
  border: 3px solid #010718;
}
.container .animation-content .content-icon.icon2 {
  position: absolute;
  top: 66%;
  left: 38%;
  background-color: #a795e4;
}
.container .animation-content .content-icon .screen-text {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 80%;
  height: 4%;
  background-color: #e485b3;
}
.container .animation-content .content-icon.icon2 .screen-text {
  background-color: #9d89e2;
}
.container .animation-content .content-icon .screen-content {
  width: 50%;
  height: 50%;
  margin: 1.5rem auto;
  background-color: var(--first-color);
}
.container .animation-content .content-icon.icon2 .screen-content {
  border-radius: 50%;
  background-color: var(--second-color);
}
.container .animation-content .content-icon .screen-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .animation-content .content-icon .screen-buttons .btn {
  width: 3rem;
  height: 1rem;
  border-radius: 1.5rem;
  border: 2px solid black;
  background-color: #7c64d5;
}
.container .animation-content .content-icon.icon2 .screen-buttons .btn {
  background-color: darkblue;
}
.container .animation-content .how-to-icon {
  z-index: 4;
  position: absolute;
  top: 35%;
  right: 9%;
  width: 25%;
  height: 62%;
  border-radius: 0.5rem;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  background-color: #010718;
}
.container .animation-content .animation__main-screen {
  width: 48vw;
  height: 68vh;
  border-radius: 00.5rem;
  background-color: #010718;
  display: flex;
  flex-direction: column;
}
.container .animation-content .comment-icon {
  position: absolute;
  z-index: 6;
  width: 25vw;
  height: 20vh;
  border-radius: 00.5rem;
  background-color: #010718;
  display: flex;
  flex-direction: column;
}
.container .animation-content .animation__main-screen .main-screen--buttons,
.container .animation-content .how-to-icon .main-screen--buttons,
.container .animation-content .comment-icon .main-screen--buttons {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
}
.container
  .animation-content
  .animation__main-screen
  .main-screen--buttons
  .btn,
.container .animation-content .how-to-icon .main-screen--buttons .btn,
.container .animation-content .comment-icon .main-screen--buttons .btn {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.3rem 0.3rem;
  border-radius: 0.25rem;
}
.animation-content .animation__main-screen .main-screen--buttons .btn.btn1,
.container .animation-content .how-to-icon .main-screen--buttons .btn.btn1,
.container .animation-content .comment-icon .main-screen--buttons .btn.btn1 {
  background-color: red;
}
.animation-content .animation__main-screen .main-screen--buttons .btn.btn2,
.container .animation-content .how-to-icon .main-screen--buttons .btn.btn2,
.container .animation-content .comment-icon .main-screen--buttons .btn.btn2 {
  background-color: yellow;
}
.animation-content .animation__main-screen .main-screen--buttons .btn.btn3,
.container .animation-content .how-to-icon .main-screen--buttons .btn.btn3,
.container .animation-content .comment-icon .main-screen--buttons .btn.btn3 {
  background-color: rgb(55, 226, 55);
}
.container .animation-content .animation__main-screen .main-screen--search-line,
.container .animation-content .how-to-icon .main-screen--search-line {
  width: 95%;
  height: 5%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #515971;
}
.container
  .animation-content
  .animation__main-screen
  .main-screen--search-line
  .line,
.container .animation-content .how-to-icon .main-screen--search-line .line {
  width: 90%;
  margin: 0 auto 0 auto;
  border-top: 5px solid #727d9f;
}
.container .animation-content .animation__main-screen .main-screen--big-screen,
.container .animation-content .how-to-icon .main-screen--big-screen {
  width: 98%;
  height: 86%;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #78c5ec;
}
.container .animation-content .how-to-icon .main-screen--big-screen {
  background-color: #179eff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .animation-content .how-to-icon .main-screen--big-screen .steps {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container
  .animation-content
  .how-to-icon
  .main-screen--big-screen
  .steps
  .step-no {
  width: 1rem;
  height: 1rem;
  background-color: rgb(40, 40, 222);
  border-radius: 0.5rem;
}
.container
  .animation-content
  .how-to-icon
  .main-screen--big-screen
  .steps
  .step-text {
  width: 70%;
  height: 30%;
  background-color: #03f6fa;
}
.container .animation-content .icon.like-icon {
  position: absolute;
  top: 35%;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: rgb(245, 245, 172);
}
.container .animation-content .icon.heart-icon {
  position: absolute;
  top: 65%;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: rgb(244, 149, 90);
}

main .content {
  display: flex;
  justify-content: center;
  text-align: center;
}
.content .card {
  margin: 3rem;
  width: 23%;
  height: 55vh;
  background-color: #010718;
  border-radius: 2rem;
}
.content .card .card-image {
  background-image: url(https://images.unsplash.com/photo-1623270395716-938e674dc24a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  height: 50%;
}
.card .card-text {
  color: white;
}
.card .card-text p {
  font-size: small;
  font-weight: 200;
}
.card .card-btn {
  margin: 0.7rem;
  height: 10%;
  width: 80%;
  border-radius: 3rem;
  border-style: none;
  font-size: large;
}
.content .text {
  margin: 3rem;
  width: 90vm;
  height: 55vh;
  padding-top: 2rem;
}
.content .text .text-content {
  width: 70vh;
  margin: 0 auto 0 auto;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider h1 {
  margin: 3rem auto 2rem auto;
  color: var(--third-color);
}
.slider .slider-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: #010718;
  border-radius: 1.5rem;
}
.slider .slider-item {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.5rem;
  color: #fff;
}
.slider .slider-item:hover {
  background-color: white;
  color: rgb(3, 3, 33);
  transition: 0.5s;
}
.slider .slider-item .top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider .slider-item .top-content .like-icon {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.slider .slider-item .top-content .like-icon p {
  font-size: x-small;
  font-weight: 600;
}

.slider .slider-item .slider-item__line {
  border-bottom: 3px solid var(--third-color);
}
.slider .slider-item .slider-item_text {
  margin: 0 auto 0 auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.slider .slider-item .slider-item__img {
  margin: 1rem auto 1rem auto;
  max-width: 95%;
  height: auto;
  border-radius: 1rem;
}
.slider .slider-buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
}
.slider .slider-buttons .slider__left-click,
.slider .slider-buttons .slider__right-click {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 1.5rem;
}
.slider .slider-buttons .slider__left-click:hover,
.slider .slider-buttons .slider__right-click:hover {
  border: 2px solid aqua;
  transition: 0.5s;
  color: #03f6fa;
}
.how-to-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #010718;
  border-radius: 1.5rem;
  margin: auto 0.5rem auto 0.5rem;
  overflow: hidden;
}
.how-to-do .header h2 {
  color: var(--third-color);
}
.how-to-do .how-to-do-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.how-to-do .how-to-do-content .content-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-to-do .how-to-do-content .content-text .text {
  z-index: 1;
  position: relative;
  color: var(--third-color);
  font-size: 1.5rem;
  font-weight: 300;
}
.how-to-do .how-to-do-content .content-text .text.first-text {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}
.content-text .text.second-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid var(--third-color);
  animation: animate 4s steps(20) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.how-to-do .content-picture {
  z-index: 2;
  margin: 2rem;
  width: 55%;
  height: 72vh;
  border: 1px solid beige;
  border-radius: 1.5rem;
  background-color: black;
}
.how-to-do .content-picture .header {
  margin: 0.5rem;
  height: 10%;
  border-radius: 0.5rem;
  background-color: var(--third-color);
}
.how-to-do .content-picture .content {
  display: flex;
  flex-direction: row;
}

.how-to-do .content-picture .content .sidebar {
  width: 28%;
  height: 60vh;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--first-color);
}
.how-to-do .content-picture .content .mainbar {
  width: 68%;
  height: 60vh;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--second-color);
}
.content .mainbar .mainbar-steps h3 {
  margin-left: 1rem;
  text-align: left;
  font-size: medium;
  font-weight: 400;
}
.content .mainbar .mainbar-steps .step-text {
  background-color: #aea4d4;
  margin: auto 1rem auto 1rem;
  height: 10px;
  width: 90%;
}
.content .mainbar .mainbar-steps .step-text3 {
  background-color: #aea4d4;
  margin: 0.5rem 1rem auto 1rem;
  height: 10px;
  width: 70%;
}
.content .mainbar .mainbar-steps .step-text2 {
  background-color: #aea4d4;
  margin: 0.5rem 1rem auto 1rem;
  height: 10px;
  width: 60%;
}
.content .mainbar .mainbar-steps .step-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010718;
  margin: 0.5rem 1rem auto 1rem;
  height: 3rem;
  width: 90%;
  border-radius: 0.5rem;
}
.content .mainbar .mainbar-steps .step-code .step-code-text {
  width: 90%;
  height: 70%;
  text-align: left;
  justify-content: center;
  padding-left: 0.5rem;
  border-left: 1px solid var(--third-color);
  color: #fff;
}
.content .mainbar .mainbar-steps .step-code .step-code-text .code-one {
  margin: 0;
  position: relative;
  justify-content: center;
  color: var(--third-color);
  font-size: small;
  font-weight: 400;
  overflow: hidden;
}
.content .mainbar .mainbar-steps .step-code .step-code-text .code-one:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid var(--third-color);
  animation: animate 6s steps(20) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.contact-us {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #010718;
  border-radius: 1.5rem;
}
.contact-us .contact-us__contacts {
  margin: 2rem;
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  font-weight: 200;
}
.contact-us .contact-us__contacts .contact-us-header {
  font-size: large;
  font-weight: 400;
}
.contact-us .contact-us__contacts .contact_items .item {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: left;
  width: 70%;
  height: 4vh;
  cursor: pointer;
  border: 2px solid #010718;
}
.contact-us .contact-us__contacts .contact_items .item:hover {
  border: 2px solid var(--third-color);
  border-radius: 0.5rem;
  transition: 0.5s;
}
.contact-us .contact-us__contacts .contact_items .item i {
  margin-right: 1rem;
}
.contact-us .contact-us__contacts .contact_social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 5rem 0.5rem auto 0.5rem;
}
.contact-us .contact-us__contacts .contact_social-media i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.contact-us .contact-us__contacts .contact_social-media i:hover {
  background-color: var(--third-color);
  color: #010718;
  transition: 0.5s;
  cursor: pointer;
}
.contact-us .contact-us__form {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #fff;
}

.contact-us .contact-us__form .contact-us {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

.contact-us .contact-us__form .contact-us .form-group-items {
  width: 85%;
  height: auto;
  margin-top: 0.5rem;
}
.contact-us .contact-us__form .contact-us .form-group-items .form-group-input {
  height: auto;
}
.contact-us .contact-us__form .contact-us .form-group-items .form-group-label {
  height: auto;
}
.contact-us
  .contact-us__form
  .contact-us
  .form-group-items
  .form-group-input
  textarea,
input {
  width: 99%;
}
.contact-us
  .contact-us__form
  .contact-us
  .form-group-items
  .form-group-input
  textarea {
  height: 20vh;
  border-radius: 0.5rem;
  background-color: rgb(253, 252, 249);
  border: 2px solid rgb(198, 195, 195);
  outline: none;
}
.contact-us
  .contact-us__form
  .contact-us
  .form-group-items
  .form-group-input
  textarea:focus {
  border: 2px solid var(--third-color);
}
.contact-us
  .contact-us__form
  .contact-us
  .form-group-items
  .form-group-input
  textarea::placeholder {
  color: #010718;
  opacity: 0.2;
  font-family: "Josefin Sans", sans-serif;
}
.contact-us__form .contact-us .form-group-items .form-group-input input {
  height: 5vh;
  border-radius: 0.5rem;
  background-color: rgb(253, 252, 249);
  border: 2px solid rgb(198, 195, 195);
  outline: none;
}
.contact-us__form
  .contact-us
  .form-group-items
  .form-group-input
  input::placeholder {
  color: #010718;
  opacity: 0.2;
  font-family: "Josefin Sans", sans-serif;
}
.contact-us__form .contact-us .form-group-items .form-group-input input:focus {
  border: 2px solid var(--third-color);
}
.contact-us__form .contact-us .form-group-items .form-group-label label {
  height: 5vh;
  font-weight: 400;
}
.contact-us__form .contact-us .form-group-items .form-group-button {
  float: right;
  margin: 1rem;
}
.contact-us__form .contact-us .form-group-items .form-group-button button {
  width: 24vh;
  height: 7vh;
  border-radius: 0.7rem;
  background-color: var(--third-color);
  border: none;
  color: white;
}
.contact-us__form
  .contact-us
  .form-group-items
  .form-group-button
  button:hover {
  background-color: #010718;
  transition: 0.5s;
  cursor: pointer;
}
footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c176 C 57.6%2c148.2 172.8%2c24.8 288%2c37 C 403.2%2c49.2 460.8%2c225.2 576%2c237 C 691.2%2c248.8 748.8%2c114.6 864%2c96 C 979.2%2c77.4 1036.8%2c150 1152%2c144 C 1267.2%2c138 1382.4%2c81.6 1440%2c66L1440 560L0 560z' fill='rgba(1%2c 7%2c 24%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c343 C 96%2c371.4 288%2c489.2 480%2c485 C 672%2c480.8 768%2c322.8 960%2c322 C 1152%2c321.2 1344%2c449.2 1440%2c481L1440 560L0 560z' fill='rgba(76%2c 195%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  width: 95%;
  height: 70vh;
  margin: 2rem auto auto auto;
}
